.header {
	position: fixed;
	z-index: 100;
	width: 100%;
	background: #081130;
	opacity: 0.9;
	color: #fff;
	&__container {
	position: relative;
	}
	&__row {
		min-height: 70px;
		display: flex;
		padding: 10px 0;
		align-items: center;
	}
	&__item {
		display: flex;
		margin: 0 -10px;
		@media (max-width: 767px) {
			margin: 0;
		}
		&_1 {
			flex: 0 0 45%;
			@media (max-width: 767px) {
				flex: 0 0 30%;
			}
		}
		&_2 {
			flex: 1 1 55%;
			@media (max-width: 767px) {
				flex: 1 1 70%;
			}
		}
	}
	&__logo {
		display: flex;
		padding: 0 10px;
		@media (max-width: 767px) {
			padding: 0;
		}
		& img {
			width: 100%;
			max-width: 170px
		}
	}
	&__address {
		font-size: 12px;
		line-height: 1.5;
		& img {
			width: 12px;
			height: 17px;
			margin: 10px 15px;
		}
		p {
			font-weight: 400;
			font-size: 12px;
		}
	}
	&__phone {
		font-size: 13px;
		line-height: 1.5;
		@media (max-width: 479px) {
				font-size: 9px;
			}
		& a{
			white-space: nowrap;
			font-weight: 700;
			font-size: 20px;
			@media (max-width: 479px) {
				font-size: 15px;
			}
		}
		& img {
			width: 19px;
			height: 19px;
			margin: 5px 15px;
			@media (max-width: 767px) {
				display: none;
			}
		}
	}
}
.item-header {
	&__item {
		justify-content: end;
		align-items: center;
		display: flex;
		flex: 1 1 auto;
		padding: 0 10px;
		@media (max-width: 767px) {
			padding: 0;
			& img {
				width: auto;
				height: 19px;
			}
		}
		& img {
			align-self: start;
		}
	}
}

@media (max-width: 767px) {
	.header__hide {
		min-height: 70px;
		position: fixed;
		top: -100%;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__hide._appear {
				background-color: #081130;
				padding: 15px 0px 5px 20px;
				top: 0;
				left: 0;
				width: 100%;
				line-height: 1.5;
				font-weight: 500;
				font-size: 18px;
				transition: all 0.3s ease 0s;
			}
			
		}

.close {
	position: absolute;
	top: -200%;
	right: 23px;
	transition: all 0.3s ease 0s;
	font-size: 24px;
	padding: 10px 0px 5px 50px;
}
.close._appear {
	@media (max-width: 767px) {
		top: 0%;
		transition: all 0.3s ease 0s;
	}
}



