//<ШРИФТЫ>====================================================
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
//</ШРИФТЫ>===================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>================================
@import 'nullstyle.scss';

body{
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	color: #2E363E;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================

//<ОБОЛОЧКА>==================================================
.wrapper{
	position: relative;
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background: #081130;
}
//</ОБОЛОЧКА>=================================================

//<ОСНОВНАЯ СЕТКА>============================================
._container{
	max-width: 1220px;
	padding: 0px 20px;
	margin: 0 auto;
}
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=============
@import "ibg.scss";
@import "header.scss";
@import "footer.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============

//<ОСНОВНОЙ БЛОК>=============================================
.parallax__item {
	position: absolute;
	width: 205px;
	height: 205px;
	z-index: 50;
	@media (max-width: 1199px) {
		width: 152px;
		height: 152px;
	}
	@media (max-width: 767px) {
		display: none;
	}
	&1{
		top: 10%;
		left: -60px;
	}
	&2{
		top: 0%;
		right: -60px;
	}
	&3{
		bottom: 0%;
		right: 15%;
	}
	&4{
		bottom: 0%;
		left: -80px;
	}
 	&5{
		top: 19%;
		left: -7%;
	}
	&6{
		top: 57%;
		right: -12%;
	}
	&7{
		bottom: 14%;
		left: -6%;
	}
 	&8{
		top: 38%;
		left: -1%;
	}  
	&9{
		top: 45%;
		right: -5%;
	}  
	&10{
		top: 20%;
		left: 10%;
	}  
	&11{
		top: 20%;
		right: 5%;
	}  
	&12{
		top: 20%;
		right: 5%;
	}  
	&13{
		top: 20%;
		right: 5%;
	}
	&14{
		top: 32%;
		left: -5%;
	}  
	&15{
		bottom: 47%;
		right: -10%;
	}  
	&16{
		bottom: -10%;
		right: 22%;
	}  
	&17{
		top: 70%;
		left: -18%;
	}  
	&18{
		top: 55%;
		right: -5%;
	}  
	&19{
		bottom:  -125%;
		right: -8%;
	} 
	&20{
		bottom: -180%;
		left: -23%;
	}
}

.parallax__decor {
	position: fixed;
	& img {
		width: 100%;
		height: 100%;
	}
	.decor1 {
		transform: rotate(-4deg);
		max-width: 195px;
		max-height: 201px;
		top: 0;
		left: 0; 
	}
	.decor2 {
		transform: scale(-1, 1) rotate(-28deg);
		top: 0;
		right: 0; 
		max-width: 170px;
		max-height: 175px;
	}
	.decor3 {
		transform: rotate(-100deg);
		bottom: 0;
		right: 0; 
		max-width: 195px;
		max-height: 201px;
	}
	.decor4 {
		filter: blur(6.5px);
		transform: scale(-1, 1) rotate(-140deg);
		bottom: 0;
		left: 0; 
		max-width: 275px;
		max-height: 286px;
	}
	.decor5 {
		filter: blur(4.5px);
		transform: rotate(-15deg);
		top: 0;
		left: 0;
		max-width: 170px;
		max-height: 174px;
	}
	.decor6 {
		filter: blur(9.5px);
		transform: rotate(-25deg);
		top: 0;
		right: 0;
		max-width: 161px;
		max-height: 167px;
	}
	.decor7 {
		filter: blur(9.5px);
		transform: scale(-1, 1) rotate(-25deg);
		bottom: 0;
		left: 0;
		max-width: 109px;
		max-height: 113px;
	}
	.decor8 {
		filter: blur(9.5px);
		transform: rotate(-110deg);
		top: 0;
		left: 0;
		max-width: 110px;
		max-height: 114px;
	}
	.decor9 {
		filter: blur(4.5px);
		transform: rotate(-100deg);
		top: 0;
		right: 0;
		max-width: 152px;
		max-height: 156px;
	}
	.decor10 {
		filter: blur(4.5px);
		transform: rotate(-22deg);
		top: 0;
		left: 0;
		width: 159px;
		height: 163px;
	}
	.decor11  {
		filter: blur(6.5px);
		transform: rotate(145deg);
		top: 0;
		right: 0;
		width: 190px;
		height: 198px;
	}
	.decor12  {
		filter: blur(6.5px);
		transform: rotate(165deg);
		top: 0;
		right: 0;
		width: 190px;
		height: 198px;
	}
	.decor13  {
		filter: blur(6.5px);
		transform: rotate(-175deg);
		top: 0;
		right: 0;
		width: 190px;
		height: 198px;
	}
	.decor14 {
		filter: blur(9.5px);
		transform: scale(1, -1) rotate(0deg);
		top: 0;
		left: 0;
		max-width: 126px;
		max-height: 131px;
	}
	.decor15 {
		transform: rotate(-90deg);
		top: 0;
		right: 0;
		max-width: 152px;
		max-height: 156px;
	}
	.decor16 {
		transform: rotate(0deg);
		top: 0;
		right: 0;
		max-width: 195px;
		max-height: 201px;
	}
	.decor17 {
		filter: blur(6.5px);
		transform: rotate(-120deg);
		top: 0;
		left: 0;
		max-width: 106px;
		max-height: 111px;
	}
	.decor18 {
		transform: scale(-1, 1) rotate(-20deg);
		top: 0;
		right: 0;
		max-width: 152px;
		max-height: 155px;
	}
	.decor19 {
		filter: blur(6.5px);
		transform: rotate(-130deg);
		bottom: 0;
		right: 0;
		max-width: 146px;
		max-height: 153px;
	}
	.decor20 {
		transform: rotate(-90deg);
		top: 0;
		left: 0;
		max-width: 167px;
		max-height: 171px;
	} 
}
.no-move {
	position: absolute;
}

.minimized {
  cursor: pointer;
}
.magnify {
  display: flex;
  position: fixed;
  z-index: 9999;
  max-width: 1400px;
  width: 200%;
}
.magnify img {
	width: 100%;
}
.overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: 9999;
}
.close-popup {
  width: 30px;
  height: 30px;
  background: #000;
  border: 1px solid #fff;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
.close-popup i {
 	&:after, &:before {
		position: absolute;
		top: 6.518px;
		right: 12.518px;
		content: "";
		width: 3px;
		height: 15px;
		background: #fff;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(135deg);
	}
}
//<mainpage>=============================================
.mainpage {
	padding: 300px 0 250px 0;
	position: relative;
	width: 100%;
	@media (max-width: 991px ) {
		padding: 200px 0 170px 0;
	}
	@media (max-width: 767px ) {
		padding: 150px 0  150px 0;
	}
	@media (max-width: 479px ) {
		padding: 120px 0 100px 0;
	} 
	 &__bg_1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@media (max-width: 991px ) {
			filter: brightness(40%);
		}
	}
	&__bg_2 {
		position: absolute;
		bottom: -1%;
		right: 0;
		width: 100%;
		height: 65%;
		@media (max-width: 2500px ) {
			height: 35%;;
		}
		@media (max-width: 991px ) {
			height: 25%;;
		}
		@media (max-width: 479px ) {
			height: 15%;
		}
	} 
	&__textblock {
		position: relative;
		width: 55%;
		z-index: 15;
		@media (max-width: 991px ) {
			width: 100%;
		}
	}
}

.textblock-main {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	&__label {
		display: flex;
		align-items: start;
		text-align: center;
		background: #F2F6FA;
		border-radius: 5px;
		font-size: 11px;
		line-height: 1.5;
		text-transform: uppercase;
		padding: 5px 10px;
		@media (max-width: 479px) {
			font-size: 9px;
		}
	}
	&__title {
		padding: 25px 0;
		font-weight: 700;
		font-size: 48px;
		line-height: 1.25;
		color: #FFFFFF;
		@media (max-width: 767px) {
			font-size: 35px;
		}
		@media (max-width: 479px) {
			font-size: 26px;
		}
		&_mid {
			font-weight: 500;
		}
		&_color {
			color: #2E363E;
		}
	}
	&__text {
		position: relative;
		font-weight: 400;
		font-size: 24px;
		line-height: 1.4;
		color: #FFFFFF;
		@media (max-width: 767px) {
			font-size: 20px;
		}
		@media (max-width: 479px) {
			font-size: 18px;
		}
		&_mid {
			font-size: 21px;
		}
		&_jun {
			font-size: 18px;
			line-height: 1.5;
		}
		&_color {
			color: #2E363E;
		}
		&_bullet {
			&:before { 
			content: "";
			width: 10px;
			height: 10px;
			background: #5D6AFB;
			border-radius: 50%;
			position: absolute;
			top: 32px;
			left: 0px;
			}
			padding: 25px 0 0 25px;
		}
	}
	&__footer {
		padding: 40px 0 0 0;
		display: flex;
		align-items: center;
		@media (max-width: 550px) {
			flex-direction: column;
		}
	}
	&__btn {
		align-self: start;
		padding: 30px 50px;
		background: #FED84C;
		border-radius: 8px;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.5;
		text-align: center;
		margin: 10px 20px 10px 0;
		@media (max-width: 767px) {
			font-size: 16px;
			padding: 15px 15px;
		}
		@media (max-width: 479px) {
			font-size: 14px;
			padding: 10px 15px;
		}
	}
	&__note {
		width: 150px;
		font-size: 15px;
		line-height: 1.6;
		color: #FFFFFF;
		@media (max-width: 550px) {
			width: 100%;
		}
	}
}
//</mainpage>=============================================

//<catalog>=============================================
.catalog {
	position: relative;
	width: 100%;
	background: #fff;
	&__container {
		position: relative;
		padding: 20px 20px 0 20px;
	}
	&__title {
		margin: 0 0 70px 0;
		text-align: center;
		font-weight: 500;
		font-size: 48px;
		line-height: 1.25;
		letter-spacing: -1px;
		@media (max-width: 991px) {
			margin: 0 0 60px 0;
		}
		@media (max-width: 767px) {
			margin: 0 0 40px 0;
			font-size: 35px;
		}
		@media (max-width: 479px) {
			font-size: 26px;
		}
	}
	&__cards {
		position: relative;
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -8px;
}
.card {
	padding: 0 8px;
	display: flex;
	flex-direction: column;
	flex: 0 1 33.333%;
	@media (max-width: 991px) {
		flex: 0 1 50%;
	}
	@media (max-width: 767px) {
		flex: 0 1 100%;
	}
	&__img {
		img {
			width: 100%;
		}
	}
	&__content {
		padding: 45px 35px 65px;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		justify-content: start;
		align-items: start;
			@media (max-width: 767px) {
				padding: 15px 0 20px;
			}
	}
	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 1.4;
	}
	&__text {
		font-size: 16px;
		line-height: 1.5;
		display: flex;
		flex: 1 1 auto;
		padding: 15px 20px 25px 0; 
		@media (max-width: 767px) {
			padding: 10px 10px 5px 0;
		}
	}
	&__price {
		font-weight: 500;
		font-size: 24px;
		line-height: 1.5;
	}
	&__btn {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.5;
		background: #FED84C;
		border-radius: 8px;
		padding: 20px 40px;
		margin: 20px 0 0 0;
		@media (max-width: 767px) {
			font-size: 16px;
			padding: 10px 15px;
			margin: 10px 0 0 0;
		}
	}
}
//</catalog>=============================================

//<order>=============================================
.order {
	width: 100%;
	background: #081130;
	position: relative;
	&__container {
		position: relative;
		padding: 300px 20px 0 20px;
		display: flex;
		@media (max-width: 1700px) {
			padding: 250px 20px 0 20px;
		}
		@media (max-width: 991px ) {
			padding: 30px 20px 180px;
		}
	}
	 &__img {
	 	position: relative;
	 	top: 0;
	 	left:-32%;
	 	flex: 0 0 50%;
	 	width: 100%;
	 	@media (max-width: 991px ) {
			filter: brightness(40%);
			position: absolute;
			left: 0;
			top: 0;
		}
	 	& img {
	 		width: 150%;
	 		@media (max-width: 991px ) {
	 			width: 70%;
	 			min-width: 700px;
	 		}
	 	}

	}
	&__bg_1 {
		position: absolute;
		z-index: 10;
		top: -1%;
		left: 0;
		width: 100%;
		height: 22%;
		@media (max-width: 1700px) {
			height: 17%;
		}
	}
	&__bg_2 {
		position: absolute;
		z-index: 10;
		bottom: -10%;
		left: 0;
		width: 100%;
		height: 70%;
	}
	&__textblock {
		flex: 1 1 50%;
		position: relative;
		z-index: 15;
		padding: 130px 0 0 0;
		@media (max-width: 991px ) {
			flex: 1 1 100%;
		}
	}
}

//</order>=============================================

//<specialist>=============================================
.specialist {
	width: 100%;
	background: #fff;
	position: relative;
	z-index: 10;
	&__container {
		padding: 80px 20px 0px 20px;
		@media (max-width: 767px) {
			padding: 30px 20px 0px 20px;
		}
	}
	&__row {
		display: flex;
		align-items: center;
		@media (max-width: 991px) {
			flex-direction: column;
		}
	}
	&__textblock {
		flex: 0 1 55%;
		padding: 0 40px 0 0;
	}
	&__img-block {
		position: relative;
		flex: 0 1 45%;
		padding: 0 0 0 40px;
		margin: 0 0 0 40px;;
	}
	&__img {
		position: relative;
		z-index: 60;
		& img {
			width: 100%;
		}
	}
	&__label {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: 66.5%;
		left: -8%;
		z-index: 70;
		& div:nth-child(1) {
			color: #fff;
			font-weight: 500;
			font-size: 24px;
			line-height: 1.2;
			letter-spacing: -0.3px;
			background: #2E363E;
			padding: 15px;
			border-radius: 5px;
			transform:skew(-10deg);
			@media (max-width: 767px) {
				font-size: 20px;
			}
			@media (max-width: 479px) {
				font-size: 18px;
			}
		}
		& div:nth-child(2) {
			font-size: 18px;
			line-height: 1.2;
			text-transform: uppercase;
			background: #F2F6FA;
			padding: 15px;
			border-radius: 5px;
			transform:skew(-10deg);
			@media (max-width: 767px) {
				font-size: 16px;
			}
			@media (max-width: 479px) {
				font-size: 14px;
			}
		}
		&_skew {
			transform:skew(10deg);
		}
	}
}
//</specialist>=============================================

//<feedback>=============================================
.feedback {
	position: relative;
	width: 100%;
	background: #081130;
	&__container {
		position: relative;
		padding: 280px 20px 0px 20px;
		@media (min-width: 2700px) {
			padding: 500px 20px 0px 20px;
		}
		@media (max-width: 767px) {
			padding: 200px 20px 0px 20px;
		}
	}
	&__bg_1 {
		position: absolute;
		top: -1%;
		left: 0;
		width: 100%;
		height: 18%;
	}
	&__bg_2 {
		position: absolute;
		bottom: -1%;
		left: 0;
		width: 100%;
		height: 18%;
	}
	&__row {
		display: flex;
		flex-direction: column;
	}
	&__item {
	}
	&__title {
		text-align: center;
		padding: 0 0 180px 0;
		font-weight: 500;
		font-size: 48px;
		line-height: 1.25;
		letter-spacing: -1px;
		color: #fff;
		@media (max-width: 767px) {
			font-size: 35px;
			padding: 0 0 140px 0;
		}
		@media (max-width: 767px) {
			font-size: 26px;
		}
	}
	&__slider {
		//position: relative;
	}
}
.image-slider {
	&__wrapper {
	}
	&__slide {
		background: #fff;
		padding: 70px 143px;
		@media (max-width: 991px) {
			padding: 35px 70px;
		}
		@media (max-width: 479px) {
			padding: 35px 50px 30px;
		}
	}
	&__row {
		display: flex;
		margin: 0 -27px;
		@media (max-width: 1199px) {
			padding: 0 0 50px 0;
		}
		@media (max-width: 991px) {
			flex-direction: column;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		flex: 0 0 50%;
		padding: 0 27px;
	}
	&__textblock {
		align-items: start;
		@media (max-width: 991px) {
			order: 2;
		}
	}
	&__image {
		font-weight: 500;
		font-size: 21px;
		line-height: 1.4;
		text-align: center;
		& div {
			margin: 0 auto;
			padding: 10px;
		}
		& p:nth-child(2) {
			color: #A6AEB6;
			font-weight: 400;
			font-size: 16px;
			line-height: 1.7;
		}
		@media (max-width: 991px) {
			order: 1;
			margin: 0 -10px;
		}
	}
	&__img {
		max-width: 380px;
		min-width: 100%;
		padding: 0 0 30px 0;
		& img {
			width: 100%;
		}
		 @media (max-width: 991px) {
		 	min-width: 50%;
		 }
		 @media (max-width: 767px) {
		 	min-width: 100%;
		 }
	}
}

.swiper-slide {
	transition: transform 0.3s ease 0s;
	filter: brightness(40%);
}
.textblock-slider {
	&__img {
		width: 40px;
		height: 27.5px;
		& img {
			width: 100%;
		}
	}
	&__title {
		font-weight: 500;
		font-size: 30px;
		line-height: 1.4;
		margin: 30px 0;
		@media (max-width: 767px) {
			font-size: 20px;
		}
		@media (max-width: 767px) {
			font-size: 26px;
		}
	}
	&__text {
		font-size: 15px;
		line-height: 1.7;

	}
	&__link {
		font-size: 14px;
		line-height: 1.5;
		color: #4A94FF;
		border-bottom: 1px dashed #4A94FF;
		margin: 30px 0 0 0;
	}
}


.swiper-button-prev, .swiper-button-next {
	&:after {
		display: none;
	}
	position: absolute;
	top: 80% ;
	@media (max-width: 1199px) {
		top: 90%;
	}
	@media (max-width: 991px) {
		top: 91%;
	}
	@media (max-width: 767px) {
		top: 58%;
	}
}
.swiper-button-prev {
	left: 48%;
	@media (max-width: 2500px) {
		left: 47%;
	}
	@media (max-width: 1700px) {
		left: 46%;
	}
	@media (max-width: 1200px) {
		left: 45%;
	} 
	@media (max-width: 991px) {
		left: 44%;
	} 
	@media (max-width: 767px) {
		left: 6%;
	}
}
.swiper-button-next {
	right: 48%;
	 @media (max-width: 2500px) {
		right: 47%;
	}
	@media (max-width: 1700px) {
		right: 46%;
	}
	@media (max-width: 1199px) {
		right: 45%;
	}
	@media (max-width: 991px) {
		right: 44%;
	}
	@media (max-width: 767px) {
		right: 6%;
	}
} 

.swiper-slide-active {
	filter: brightness(100%);
	transform: translate(0px,-10%) !important;
	transition: transform 0.3s ease 0s;
	& .image-slider__img {
		padding: 0 0 400px 0;
		@media (max-width: 1199px) {
			padding: 0 0 50px 0;
		}
		@media (max-width: 991px) {
			padding: 0;
		}
	}
		}
//</feedback>=============================================

//<allOrders>=============================================
.allOrders {
	width: 100%;
	background: #fff;
	padding: 10px 0;
	&__container {
		width: 100%;
		text-align: center;
	}
	&__title {
		padding: 10px 20px 70px;
		@media (max-width: 991px) {
			padding: 10px 20px 40px;
		}
		@media (max-width: 479px) {
			padding: 10px 20px 20px;
		}
		& h2 {
			font-weight: 500;
			font-size: 48px;
			line-height: 1.25;
			letter-spacing: -1px;
			margin: 0 0 10px 0;
			@media (max-width: 767px) {
				font-size: 35px;
			}
			@media (max-width: 479px) {
				font-size: 26px;
			}
		}
		& p {
			font-size: 24px;
			line-height: 1.4;
			@media (max-width: 767px) {
				font-size: 20px;
			}
			@media (max-width: 479px) {
				font-size: 18px;
			}
		}
		& a {
			font-size: 25px;
			color: #4A94FF;
			border-bottom: 1px dashed #4A94FF;
			@media (max-width: 767px) {
				font-size: 21px;
			}
			@media (max-width: 479px) {
				font-size: 19px;
			}
		}
	}
	&__gallery {
		display: flex;
		justify-content: center;
		margin: -5px;
		flex-wrap: wrap;
	}
}

.gallery {
	&__card {
		flex: 0 1 33.333%;
		padding: 5px;
		@media (max-width: 991px) {
			flex: 0 1 50%;
		}
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
	}
}
.card {
	&__img {
		width: 100%;
	}
}

//</allOrders>=============================================

//</ОСНОВНОЙ БЛОК>============================================
//</ОСНОВНАЯ СЕТКА>===========================================